
.navbar-app {
    display: none;
    opacity: 0;
    position: absolute;
    visibility: hidden;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin-top: 110px;   /* même hauteur que .site-header */
    min-height: calc(100vh - 110px);
    background: var(--color-bg);
    margin-right: 1rem;
    margin-left: 280px;
}

.main-wrapper {
    margin-left: 260px;
    padding: 1.5rem;
    min-height: 100vh;
    background: var(--color-bg);
    transition: margin var(--transition);
}

@media (max-width: 1150px) {
    .main-content {
        margin: 110px 1rem;
        flex: 1;
    }
}

