
.layout {
    display: flex;
}

/* Contenu principal décalé à droite et en dessous de la navbar */
.main-content {
    flex: 1;
    margin-top: 70px;   /* même hauteur que .site-header */
    margin-left: 260px; /* largeur de la sidebar */
    padding: 1.5rem;
    min-height: calc(100vh - 110px);
    background: var(--color-bg);
}

.main-wrapper {
    margin-left: 260px;
    padding: 1.5rem;
    min-height: 100vh;
    background: var(--color-bg);
    transition: margin var(--transition);
}


@media (max-width: 1150px) {
    .main-content {
        margin-left: 0;
    }
}

