@import './components/footer.css';
@import './components/header.css';
@import './components/sidebar.css';
@import './agenda/demande.css';
@import './administration/membres.css';
@import './agenda/calendar.css';
@import './agenda/demandes.css';
@import './dashboard.css';
@import "./components/main-content.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --memorys-input-bg: #F0F2F5;
    --memorys-input-border: #6E7790;
    --memorys-bg: #E5E5E5;
    --memorys-primary: #363E55;
    --memorys-accent: #FFBD59;
    --memorys-secondary: #686E80;
    --memorys-border: #B3B7BF;
}

.bg-memorys {
    background-color: var(--memorys-primary);
}

/* Adaptation responsive : en dessous de 1150px, on cache la sidebar et on affiche la navbar mobile */
@media (max-width: 1150px) {
    .sidebar-app {
        display: none;
    }
    .navbar-app  {
        display: block;
        opacity: 1;
        visibility: visible;
    }
}
