@import './components/footer.css';
@import './components/header.css';
@import './components/sidebar.css';
@import './demande.css';
@import './membres.css';
@import './calendar.css';
@import './demandes.css';
@import './dashboard.css';
@import "./components/main-content.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --memorys-input-bg: #F0F2F5;
    --memorys-input-border: #6E7790;
    --memorys-bg: #E5E5E5;
    --memorys-primary: #363E55;
    --memorys-accent: #FFBD59;
    --memorys-secondary: #686E80;
    --memorys-border: #B3B7BF;
}

.main-content {
    flex: 1;
    background-color: white;
    margin: 40px;
}

.bg-memorys {
    background-color: var(--memorys-primary);
}
